
/*==================================
=            General Styles      =
==================================*/




/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }



/*==========  General Styles  ==========*/

body{background: $body-bg; font-family: $font-main; color: $text-color;}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
    color: $h-color;
    text-transform: uppercase;
    font-weight: 600;
    a{color: inherit;}
}



h1{font-size: em(56.22);}
h2{font-size: em(32);}
h3{font-size: em(26);}
h4{font-size: em(22);}

a{color: $link-color;}
a:hover{color: $link-h-color;}

strong{font-weight: 600;}

img{max-width: 100%; height: auto;}


::selection {
  background: $h-color;
  color: #fff;
}

button{border: 0; background: none; outline: none;}
button:focus{outline: none;}

.fa-500px{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(img/500px.png);
}