/*=========================================
=            Galery Components            =
=========================================*/

.gallery-wrapper{
	text-align: center;
	padding: 5px 0;
}
.galery-item{
	// width: 20%;
	margin-bottom: 10px;
	padding: 0 5px;
	display: inline-block;
	img{max-width: 100%; height: auto;}
	a{display: block;}
}





@media (min-width: 1200px){
	.galery-item{width: 14.23%;}
}


@media (min-width: 961px) and (max-width: 1199px){
	.galery-item{width: 20%;}
}


@media (max-width: 960px){
	.galery-item{width: 25%;}
}


@media (max-width: 600px){
	.galery-item{width: 33%;}
}
@media (max-width: 460px){
	.galery-item{width: 50%;}
}

@media (max-width: 380px){
	.galery-item{width: 100%;}
}

/*==========  Galery Tab functionality  ==========*/

//  Galery Navigation 

.galery-navigation{
	// color: $grey;
	margin-bottom: 60px;
	padding-top: 0px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: $font-display;
	text-align: center;
	ul {
	    list-style: none;
	    display: inline-block;
	    margin: 0;
	}
	li{
		float: left;
	    font-size: em(17);
	    &:before{
	    	vertical-align: middle;
	    	font-size: 12px; 
	    	content: "\f111";
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
	    }
	    &:first-child:before{
	    	content: "";
	    }
		button {
			vertical-align: middle;
			color: $gnav-color;
			text-transform: inherit;
		    padding: 0 10px;
		    color: inherit;
		    font-size: em(30);
		    &.active{color: $gnav-color-active;}
		}
	}
}


// Tabs

.galery-section{
	padding: 0 50px;
	display: none;
	&.active{
		display: block;
	}
}

// Light box
#imagelightbox{
	cursor: pointer;
	position: fixed;
	z-index: 10000;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
}


// Loading animation
.lightBox{
	display: none;
	// opacity: 0;
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	
}
.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


// Contact page

form{
	ul{list-style: none}
	li{margin-bottom: 10px;}
	input, textarea {
		padding: 8px 5px;
		background: none;
	    width: 100%;
	    border: 1px solid $form-color;
	}

}

// Misc

.img-round{
	border-radius: 50%;
}


/*=====================================
=            Page Specific            =
=====================================*/
.profile-img{
	padding: 20px 0;
	margin-bottom: 50px;
}



