/*==============================
=            Header            =
==============================*/

header{	
	position: relative;
	margin-bottom: 50px;
	padding:{top: 30px; bottom: 20px;}
	// z-index: 2;
	background: $header-bg;
	a{color: $header-color}
}

.logo{
	padding: 50px 0;
	text-transform: uppercase;
	text-align: center;
	h1{
		line-height: 1;
		font-size: em(100);
		margin: 0;
	}
}

nav{
	padding: 20px 0 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	ul{
		display: inline-block;
		list-style: none;
		// overflow: hidden;
		margin: 0;
		font-size: em(15);
		box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.3);
	}
	li{
		float: left; 
		margin: 0;
		background: #fff;
		&:hover{background: $orange; a{color: #fff;}}
		&:first-child{border-radius: 3px 0 0 3px;}
		&:last-child{border-radius: 0 3px 3px 0;}
	}
	a {
	    padding: 3px 19px;
	    display: block;
	}
	.current-menu-item{
		background: $hi-color;
		background: $green;
		a{color: #fff;}
	}
}

// naked nav
.nav-2{
	padding: 20px 0 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	ul{
		display: inline-block;
		list-style: none;
		// overflow: hidden;
		margin: 0;
		font-size: em(15);
		// box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.3);
	}
	li{
		float: left; 
		margin: 0 1px;
		// background: #fff;
		// &:first-child{border-radius: 3px 0 0 3px;}
		// &:last-child{border-radius: 0 3px 3px 0;}
	}
	a {
	    padding: 3px 19px;
	    display: inline-block;
	}
	.current-menu-item{
		// background: $hi-color;
		// a{color: #fff;}
	}
}



.featured{
	overflow: hidden;
	img {
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	}

}

// Language widget
.language-widget{
	float: right;
	ul{list-style: none;}
	li{float: left;}
}

.social-links{
	position: absolute;
	z-index: 100;
	width: 30px;
	left: 20px;
	top: 50px;
	font-size: em(19);
	transition: 0.8s all ease;
	transform: translateY(0);

	.fa{margin: 0 3px;}
	a {
	    display: inline-block;
	    width: 30px;
	    height: 30px;
		// color: inherit;
	}

}

// Facebook
.fb-like {
    z-index: 100;
}



// .nav-2{
// 	padding: 20px 0 0;
// 	text-align: center;
// 	text-transform: uppercase;
// 	font-weight: 300;
// 	ul{
// 		display: inline-block;
// 		list-style: none;
// 		// overflow: hidden;
// 		margin: 0;
// 		font-size: em(15);
// 		box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.3);
// 	}
// 	li{
// 		float: left; 
// 		margin: 0 1px;
// 		background: #fff;
// 		&:first-child{border-radius: 3px 0 0 3px;}
// 		&:last-child{border-radius: 0 3px 3px 0;}
// 	}
// 	a {
// 	    padding: 3px 19px;
// 	    display: inline-block;
// 	}
// 	.current-menu-item{
// 		background: $hi-color;
// 		a{color: #fff;}
// 	}
// }
