.alpha{padding-left: 0;}
.omega{padding-right: 0;}
.img-responsive{max-width: 100%; height: auto;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.right{float: right;}
.left{float: left;}
.light{font-weight: 400;}
.no-padding{padding-left: 0; padding-right: 0;}


.clearfix:before,
.clearfix:after {content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after {clear: both; }
.clearfix { *zoom: 1; }

.hidden {display: none !important; visibility: hidden; }



@mixin img-responsive{max-width: 100%; height: auto; }

.img-responsive{max-width: 100%; height: auto;}



$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}