/*==================================
=            Variables      =
==================================*/

$orange:			#f15544;
$green: 			#2e4244;


$text-color:		#666;
$link-color:		$green;
$link-h-color:		$orange;
// $link-h-color:		#f15544;

// body
$body-bg:			#f9f9f9;

// heighlight
$hi-color:			#00aeef;

// header
$header-bg:			transparent;
$header-color: 		#a4a4a4;

// Headings
$h-color:			$text-color;


// form
$form-color:		#D5D5D5;

// Components colors

// galery nav
$gnav-color: 		#909090;
$gnav-color-active: $orange;




// Typography
// ==========================================

$paragraph-size: 16;

$font-display: 'Oswald', sans-serif;
$font-main: 'Lato', sans-serif;


// Foundation usefull variables
// ==========================================

// Grid
$row-width: rem-calc(960);
$total-columns: 12;
$column-gutter: rem-calc(10);


// We use these to control various global styles
// $body-bg: #fff;
// $body-font-color: #222;
// $body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $font-weight-normal:normal;
// $body-font-weight: $font-weight-normal;
// $body-font-style: normal;

// We use these as default colors throughout
// $primary-color: #f04124;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;



//
// TOP BAR
//

// $include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
// $topbar-bg-color: #fff;
// $topbar-bg: $topbar`-bg-color;

// Height and margin
// $topbar-height: 55px;
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: $font-weight-normal;
// $topbar-title-font-size: rem-calc(20);

// Style the top bar dropdown elements
// $topbar-dropdown-bg: #fff;
// $topbar-dropdown-link-color: #000;
// $topbar-dropdown-link-bg: #333;
// $topbar-dropdown-link-weight: $font-weight-normal;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: #fff;
// $topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
// $topbar-link-color: #000;
// $topbar-link-color-hover: #fff;
// $topbar-link-color-active: #fff;
// $topbar-link-color-active-hover: #fff;
// $topbar-link-weight: $font-weight-normal;
// $topbar-link-font-size: rem-calc(20);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
// $topbar-link-bg: $topbar-bg;
// $topbar-link-bg-color-hover: #555555;
// $topbar-link-bg-hover: #272727;
// $topbar-link-bg-active: #000;
// $topbar-link-bg-active-hover: #000;
// $topbar-link-font-family: $font-display;
// $topbar-link-text-transform: none;
// $topbar-link-padding: 30px;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// $topbar-dropdown-label-color: #777;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: #333;

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
// $topbar-media-query: $medium-up;

// Divider Styles
// $topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
// $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item